<h1 class="title">Impacts of Covid-19 Over the Time</h1>

<hr />

<%= javascript_tag do %>
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable(<%= raw cases_array %>);

        var options = {
            backgroundColor: 'none',
            colorAxis: {colors: ['#00853f', 'black', '#e31b23']}
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        google.visualization.events.addListener(chart, 'select', function () {
            var selection = chart.getSelection();
            if (selection.length) {
                alert(data.getValue(selection[0].row, 0));
            }
        });

        chart.draw(data, options);
      }
<% end %>

<section id="regions_div" style="width: 1000px; height: 500px;"></section>

<section class="test">
      <section class="card">
        <secction class="card-header">
          teste
        </section>
      </section>
</section>