@import "bulma";
@import 'home';
@import 'select2';

html {
    background-image: url('/assets/wallpaper.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 50px;
}

.select2-selection__rendered {
    line-height: 41px !important;
}
.select2-container .select2-selection--single {
    height: 45px !important;
}
.select2-selection__arrow {
    height: 44px !important;
}